.box {
  display: flex;
  flex-direction: row;

  max-width: 696px;
  /* max-width: 100%; */

  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 10px;

  justify-content: space-between;
  align-content: center;

  margin: 0 auto;
}

.line {
  width: 338px;
  display: flex;
  flex-direction: row;
}

.item {
  width: 338px;
  display: flex;
  flex-direction: column;
}
.item img {
  width: 100%;
  padding-right: 20px;
}

@media (width: 600px) {
  .box {
    color: red;
  }
}
